@CHARSET "UTF-8";

@IMPORT url("roboto/roboto_thin_macroman/stylesheet.css");

body {
	height: 100%;
	min-width: 1024px;
	margin: 0px;
	font-family: 'robotothin';
}

input {
	font-weight: 300;
	border: none;
}

input:FOCUS{
	outline: none;
}

label{
	font-weight: 300;
	color: #777;
	display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}

.header {
	position: absolute;
	left: 0px;
	top: 0px;
	min-width: 1024px;
}

#splash{
	background-image: url("../images/splash.png");
	float: right;
	width: 132px;
	height: 169px;
}

.footer {
	position: absolute;
	min-width: 1024px;
	left: 0px;
	bottom: 0px;
}


#box {
	min-width: 1024px;
	position: absolute;
	margin-bottom: 70px;
	left: 0px;
	top: 50px;
	bottom: 0px;
	right: 0px;
}

#box1 {
	float: left;
	height: 50px;
	margin-left: 0%;
	margin-top: 0px;
	clear: none;
	width: 100%;
	background-color: rgb(248, 173, 10);
}

#container{
	width: 1024px;
	margin: auto;
	background-color: transparent;
	height: 100%;
	display: table;
}

#container_frame {
	margin: 0 auto;
	width: 500px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#box2 {
	float: none;
	height: 400px;
	margin-left: auto;
	clear: none;
	width: 800px;
	margin-right: auto;
	background-image: url("../images/imagen.png");
	background-attachment: scroll;
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
}

#box3 {
	float: none;
	height: 30px;
	margin-left: auto;
	margin-top: 50px;
	clear: none;
	width: 385px;
	margin-right: auto;
}

#box4 {
	float: left;
	height: 70px;
	margin-left: 0%;
	clear: none;
	width: 100%;
}

#box5 {
	float: right;
	height: 70px;
	margin-left: 0px;
	margin-top: 0px;
	clear: none;
	width: 8.40240050536955%;
	margin-right: 15.76%;
	background-image: url("../images/od1.png");
	background-attachment: scroll;
	background-size: auto;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	min-width: 84px;
	cursor: pointer;
}

#return{
	margin-left: 25px;
	margin-top: 8px;
	width: 80px;
}

#img_return{
	position: absolute;
}

#msj_return{
	position: absolute;
	margin-top: 6px;
	margin-left: 38px;
	color: white;
	font-weight: 300;
	display: none;
}